<html>
    <head>
        <style>
            #container {
                margin: 4em auto;
                width: max-content;
                text-align: center;
            }
            input {
                margin: 1em auto;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <form action="/login" method="post">
                <label for="password">Password:</label>
                <br />
                <input type="password" name="password">
                <br />
                <input type="submit" value="Unlock">
            </form>
        </div>
    </body>
</html>